@font-face {
    font-family: myFont;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body{
    font-family: myFont;
    margin: 0px;
    padding: 0px;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 120px;
    padding: 0px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 0px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    width: 300px;
    height: 460px;
   
}
img{
    border-radius: 100px;
    width: 80px;
    padding-top: 15px;
}
.text1{
    color: hsl(0, 0%, 100%);
    padding: 0px;
    margin: 10px;
    margin-bottom: 3px;
    font-size: 22px;
}
.text2{
    color: hsl(75, 94%, 57%);
    font-size: 13px;
    margin: 2px;
    padding: 0px;
}
.text3{
    color: white;
    font-size: 13px;
    padding-top:10px ;
}
.main2 a{
    text-decoration: none;
    color: white;
}
.container2{
    padding: 15px;
    margin: 10px;
    background-color: hsl(0, 0%, 20%);
    width: 250px;
    height: 10px;
    border-radius: 5px;
    text-align: center;
}
.main2 .container2:hover{
    background-color:  hsl(75, 94%, 57%);
    cursor:pointer;
}
.container3{
    padding: 15px;
    margin: 10px;
    background-color: hsl(0, 0%, 20%);
    width: 250px;
    height: 10px;
    border-radius: 5px;
    text-align: center;
}
.main2 .container3:hover{
    background-color:  hsl(75, 94%, 57%);
    cursor: pointer;
}
.container4{
    padding: 15px;
    margin: 10px;
    background-color: hsl(0, 0%, 20%);
    width: 250px;
    height: 10px;
    border-radius: 5px;
    text-align: center;
}
.main2 .container4:hover{
    background-color:  hsl(75, 94%, 57%);
    cursor: pointer;
}
.container5{
    padding: 15px;
    margin: 10px;
    background-color: hsl(0, 0%, 20%);
    width: 250px;
    height: 10px;
    border-radius: 5px;
    text-align: center;
}
.main2 .container5:hover{
    background-color:  hsl(75, 94%, 57%);
    cursor: pointer;
}
.container6{
    padding: 15px;
    margin: 10px;
    background-color: hsl(0, 0%, 20%);
    width: 250px;
    height: 10px;
    border-radius: 5px;
    text-align: center;
}
.main2 .container6:hover{
    background-color:  hsl(75, 94%, 57%);
    cursor:pointer;
}

@media (max-width:600px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 200%;
        margin: 120px;
       }
       .main2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
       }
       .container2{
        width: 80%;
       }
       .container3{
        width: 80%;
       }
       .container4{
        width: 80%;
       }
       .container5{
        width: 80%;
       }
       .container6{
        width: 80%;
       }
}